#root {
  max-width: 100dvw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background: linear-gradient(
    to top right,
    rgb(254, 122, 122),
    rgb(255, 255, 154),
    silver,
    rgb(255, 183, 255),
    rgb(132, 132, 250)
  );
  max-width: 100dvw;
}

.table_wrapper {
  overflow-x: auto;
  margin-top: 2rem;
  max-width: 80dvw;
}
button {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 2rem 1rem;
  overflow-y: scroll;
  max-height: 100dvh;
}

table {
  max-width: max-content;
  font-size: 12px;
  background-color: rgb(246, 246, 246);
  margin: 0 auto;
  overflow-x: scroll;
}
table,
td,
th {
  border: 1px solid;
  padding: 2px;
  max-width: fit-content;
}
/* .name_section {
  white-space: nowrap;
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
ul {
  list-style: none;
}

label {
  margin-right: 1rem;
}
input {
  padding: 4px 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.name_section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 413px) {
  label,
  input,
  button {
    font-size: 12px;
  }
  h1 {
    font-size: 2rem;
  }
  table {
    font-size: 10px;
    overflow-x: scroll;
  }
}
